@import 'FriendsListNew.part';
@import '../../../styles/meta';

.friendslist {
  @extend %container_scroll;
  height: 490px;
  display: flex;
  justify-content: center;
  margin-left: 20%;


  &_container {
    margin: 0 auto 150px;
    width: 400px;

  }
}
